/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:arial;
}
ol, ul {
	list-style: none;
}
blockquote, q { 
	quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
min-width:260px;
}
/*COLORS*/
/*SET 1*/
.color-0 { color: #fbfbfb }	/* Main Primary color */
.color-1 { color: #FFDBC1 }
.color-2 { color: #FFB784 }
.color-3 { color: #FF6A00 }
.color-4 { color: #E76000  }


.bg-0 { background: #fbfbfb }	/* Main Primary bg */
.bg-1 { background: #FFDBC1 }
.bg-2 { background: #588d53 }
.bg-3 { background: #FF6A00  }
.bg-4 { background: #E76000  }
.color-1 { color:#ACCCA9;}
.color-2 { color:#7CA977;}
.color-3 { color:#598D53;}
.color-4 { color:#3D6E38;}
.color-5 { color:#255D1F;}

.bg-0 { background:#ACCCA9;}
.bg-1 { background:#7CA977;}
.bg-2 { background:#598D53;}
.bg-3 { background:#3D6E38;}
.bg-4 { background:#255D1F;}

.bg-0{
	background:#fbfbfb;
}
/*FONTS*/
h1{
	font-size:1.8rem;
}
h2{
	font-size:1.6rem;
}
h3{
	font-size:1.4rem;

}
h4{
	font-size:1.2rem;
}
h5{
	font-size:1rem;
}
h6{
	font-size:0.8rem;
}
main > h1,main > h2,main > h3,main > h4,main > h5,main > h6, main > p{
	padding:5px;
}
main > ul{
	padding:5px;
}

nav a {
	font-family: 'Cutive Mono', arial;
	text-decoration: none;
	color: white;
}

.frontpage{
	color:white;
	background-image: url('../media/images/gorilla-crop.jpg');
	background-repeat: no-repeat;
	/*background-position: center;*/
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	background-attachment:fixed; 
}
.frontpage a {
	text-decoration: none;
	color: white;
}


#enterbtn {
	display: block;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24em;
	display: none;
	font-family: Shrikhand, arial;
	text-shadow: 1px 1px #000;
}


#enterbtn a:hover {
	color: gray;
	opacity: 0.25;
}

/*NAV PALKKI JA HEADER JA laatikointi*/
header{
	width:100%;
	min-height:3rem;
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow: -2px 0px 5px 0px;
}
.headfill{
	height:4rem;
}

.frontpage header {
	box-shadow: 0px 0px 0px 0px;
}
	
.pagetitle{
	float:left;
	line-height:3rem; 
	padding-left:0.5rem;
}
#mobile_menu_btn{ 
	width:3rem;
	height:3rem;
	float:right;
	padding:0.5rem;
}
nav{
	width:100%;
	float:right;
	text-align:right;
	overflow:hidden;
	display:none;
	position:fixed;
	top:3rem;
}
nav ul li{
	color:none;
	padding:0.25rem;
	font-size:1.15rem; 
}
.dropdown{
	display:none;
	/*background:#D36A6A;*/
	height:auto;
	word-break:keep-all;
	white-space: nowrap;
}
.dropdown li{
	float:none;
	padding-right:15px;
	
}
.dropdown a{
	word-break:keep-all;
	white-space: nowrap;
	color: black;
}

.frontpage .dropdown a {
	color: white;
}
nav li:hover{
	color:rgba(124,124,124,1);
}

header h3 {
	color: white;
	font-family: Shrikhand, arial;
}

/*KOlumneja totaalissa 3, eli rivillä voi olla 2 + 1 tai 1 + 1 + 1*/
/*speciaalina col-50 joka on 50% eli 2 kolumnia, voi yhdistää vaan toisen samanlaisen kanssa*/
/*-small  kolumnit käytössä myös mobiilissa*/

.col-1-small{
	width:32%;
	margin:0.6665%; 
	float:left;
	padding:0.5rem;
	min-height:15px;
}
.col-2-small{
	width:65.333%;
	margin:0.6665%; 
	float:left;
	padding:0.5rem;
	min-height:15px;
}
.col-3-small{
	width:98.666%; 
	margin:0.6665%;
	float:left;
	padding:0.5rem;
	min-height:15px;
}
.col-50-small{
	width:48.667%;
	margin:0.6665%;
	float:left;
	padding:0.5rem;
	min-height:15px;
}

.col-1{
	width:98.666%; 
	margin:0.6665%;
	float:left;
	padding:0.5rem;
	min-height:15px;
}


.col-2{
	width:98.666%; 
	margin:0.6665%;
	float:left;
	padding:0.5rem;
	min-height:15px;
}
.col-3{
	width:98.666%; 
	margin:0.6665%;
	float:left;
	padding:0.5rem;
	min-height:15px;
	text-align: center;
}
.col-50{
	width:98.666%; 
	margin:0.6665%;
	float:left;
	padding:0.5rem;
	min-height:15px;
}

tr td,th{
	padding: 2em;
	border: 1px solid;
}

tr td:first-child {
	font-weight: bold;
}

tr th {
	font-weight: bold;
}

@media only screen and (min-width:36rem){ /*BIG SCREEN*/
	nav{
		float:right;	
		display:block !important;
		position:static;
		width:auto;
		background:none !important;
	}
	nav ul li{  
		float:left;
		line-height:3rem;
		padding: 0 0.5rem;
		
	}	
	#mobile_menu_btn{
		display:none;
	}
	.d_btn{
	overflow:hidden;
	}
	.dropdown{
	
	position:Absolute;
	transform: translateX(-50%);
	}
	.frontpage{
	color:white;
	background-image: url('../media/images/gorilla.jpg');
	background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
	background-attachment:fixed;
}


	/*KOlumneja totaalissa 3, eli rivillä voi olla 2 + 1 tai 1 + 1 + 1*/
	/*speciaalina col-50 joka on 50% eli 2 kolumnia, voi yhdistää vaan toisen samanlaisen kanssa*/
	.col-1{
		width:32%;
		margin:0.6665%; 
		float:left;
		padding:0.5rem;
		min-height:15px;
	}
	.col-2{
		width:65.333%;
		margin:0.6665%; 
		float:left;
		padding:0.5rem;
		min-height:15px;
	}
	.col-3{
		width:98.666%; 
		margin:0.6665%;
		float:left;
		padding:0.5rem;
		min-height:15px;
	}
	.col-50{
		width:48.667%;
		margin:0.6665%;
		float:left;
		padding:0.5rem;
		min-height:15px;
	}
}
/*main*/
main{
	margin-top:0rem;
	max-width:980px;
	margin-left:auto;
	margin-right:auto;
}
video{
	width:100%;
}
/*onpage font*/
.onpage, .onpage a, .onpage li{
	color:black;
	
}
.dropdown .onpage,.dropdown .onpage a, .dropdown .onpage li{
	color:grey;
	
}
/*footer*/

footer {
	position:fixed;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	width:100%;
	float:left;
	padding:0.5rem;
	min-height:7px;
	box-shadow: 5px 5px 5px 5px;
}

footer a {
	display: inline;
	float: left;
	font-size: 0.7em;
	margin-left: 1em;
}

footer a:hover {
	color: purple;
}

body {
	margin-bottom:3em;
}
